requests
numpy
torch
sentence_transformers
transformers>=4.31.0
accelerate>=0.20.3
[xformers]
bitsandbytes>=0.39.0
langchain==0.0.229
openai
google-search-results
unstructured
pdf2image
chromadb
gradio
transformers_stream_generator